In [ ]:
# Checking if the year is leap or not\

year=int(input("Enter the year:"))
if(year%100==0 and year%400==0):
  print("It's a leap year")
elif(year%100!=0 and year%4==0):
  print("It's a leap year")
else:
  print("It's not a leap year")

Enter the year:2028
It's a leap year

In [ ]:
## Loops in Python
for i in range(1,10,2): #last number is ignored in python
  print(i)

1
3
5
7
9

In [ ]:
for i in range(20):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [ ]:
for i in range (20,5,-3): # we need to give - before the steps as we have to go back
  print(i)

20
17
14
11
8

In [ ]:
for i in range(-5,-10,-1):
  print(i)

-5
-6
-7
-8
-9

In [ ]:
a=int(input("Enter a number:"))
for i in range(1,11,1):
  print(f"{i} times {a} is:",a*i)

Enter a number:5
1 times 5 is: 5
2 times 5 is: 10
3 times 5 is: 15
4 times 5 is: 20
5 times 5 is: 25
6 times 5 is: 30
7 times 5 is: 35
8 times 5 is: 40
9 times 5 is: 45
10 times 5 is: 50

In [ ]:

n=int(input("Enter a number:"))
for i in range(n,(n*10)+1,n):
  print(i)

Enter a number:6
6
12
18
24
30
36
42
48
54
60

In [ ]:
a="AnupamSne"
b=a.upper()
print(b)

for i in range(9):
  print(b[i])

ANUPAMSNE
A
N
U
P
A
M
S
N
E

In [ ]:
for i in range(2,21):
  if i==15:
    print("Break statement Executed")
    break
  print(i)
else:
  print("Break statement is not executed")

2
3
4
5
6
7
8
9
10
11
12
13
14
Break statement Executed